.bkground {
	height: 100%;
	width: 100%;
	opacity: 0.75;

}
.coverpic {
	background: url(images/Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.header {
	background-color: red;
	height: 120px; width: 100%;
}
.portfolio-example {
	background-color: yellow;
	height: 969px; width: 100%
}

.footer {
	background-color: blue;
	height: 120px; width: 100%;
}
.afge {
	background-color: red;
	height: 280px;
	width: 100%;
}

